.container{
    text-align: center;
    margin-top:23px ;
}
table{
    margin: auto;
}
button{
    font-size: 30px;
    background-color: white;
    width: 74px;
    height:62px;
    height: 62px;
    border: 0px;
}
input{
    border-radius: 11%;
    font-size: 25px;
    width: 300px;
    height: 35px;
    border: 0px solid black;
}